-@javascript.push 'get_api'
%h2 Your API keys
-if session[:autheduser].api_keys.count < 1
	%p You don't currently have any API keys to use.
-else
	%ul
	-session[:autheduser].api_keys.each do |key|
		%li
			%h4=key.app_name
			%strong Api Key:
			%em=key.api_key
			%br
			%strong Secret Key:
			%em=key.secret
			%p=key.description
			
%h2 Create an API Key
:maruku
	Generating an API Key for yourself is currently restricted, you'll need a password from me to create one! Please [email me](mailto:videoscrobbler@toys.byJP.me) with an outline of your idea (out of my own curiosity!) and I'll give you the password.

%form{:method=>'get',:action=>'/action.json',:id=>'getapi'}
	%fieldset
		%legend Get an API key
		%input{:type=>'hidden',:name=>'action',:value=>'get_api'}

		%p#message Make sure you're descriptive, I'm interested to see how this is being used!

		%label{:for=>'apipassword'}Password
		%input{:type=>'password',:name=>'apipassword',:id=>'apipassword'}

		%label{:for=>'appname'}Application Name
		%input{:type=>'text',:name=>'appname',:id=>'appname'}

		%label{:for=>'description'}Description
		%textarea{:name=>'description',:id=>'description'}

		%input{:type=>'submit',:value=>'Apply for an API key',:id=>'submit'}